#root {
  width: 100%;
  height: 100vh;
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.container{
  /* height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
}

textarea {
  box-sizing: border-box;
  width: 90vw;
  height: 90vh;
  font-size: 99px;
}
